<ion-view view-title="Todo list">
<ion-content>
<ion-list>
<ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="task in tasks" type="item-text-wrap" href="#/tab/chats/{{chat.id}}">
<h2>{{task.id}} {{task.task}}</h2>
<i class="icon ion-chevron-right icon-accessory"></i>
<ion-option-button class="button-assertive" ng-click="remove(chat)">
Delete
</ion-option-button>
</ion-item>
</ion-list>
<label class="item item-input">
  <i class="icon ion-plus-circled placeholder-icon"></i>
  <input type="text" placeholder="What needs to get done?" ng-model="addTask.newTask">
</label>
<button class="button button-block button-positive" ng-click="addTask()">
Add task
</button>
</ion-content>
</ion-view>